/*---------------------------------------
リセットCSS START
-----------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/*-----------------------------------
リセットCSS END
-----------------------------------*/

/*-----------------------------------
共通START
-----------------------------------*/
html {
    font-size: 20px;
}

h2 {
    padding: 80px 0;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}
h2::before,
h2::after {
    display: inline-block;
    content: "";
    vertical-align: 10px;
    width: 40px;
    height: 2px;
    margin: 0 8px;
    background-color: #000;
}

h3 {
    padding: 50px 0;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

/*-----------------------------------
共通END
-----------------------------------*/
/*-----------------------------------
ヘッダーSTART
-----------------------------------*/

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: #007655;
}

.header-inner input,
.header-inner label {
    display: none;
}

.header-logo a {
    display: block;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
}

.header-inner {
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-navi-list {
    display: flex;
    text-align: center;
}

.header-navi-item a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
}

.header-navi-item a::before,
.header-navi-item a::after {
  border-bottom: solid 2px #fff;
  bottom: 0;
  content: "";
  display: block;
  position: absolute;
  transition: all .8s ease;
  -webkit-transition: all .8s ease;
  width: 0;
}
.header-navi-item a::before {
  left: 50%;
}
.header-navi-item a::after {
  right: 50%;
}
.header-navi-item a:hover::before,
.header-navi-item a:hover::after {
  width: 50%;
}

/*-----------------------------------
ヘッダーEND
-----------------------------------*/

/*-----------------------------------
メインイメージSTART
-----------------------------------*/
/*.mainKv {
    position: relative;
    background-image: url(../../assets/images/kv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    min-height: 660px;
    
}

.mainKv-title {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: cursive;
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 10px 10px 5px #000;
} 

.mainKv-title > span {
    position: relative;
  top: 10px; 
  left: 10px;
  opacity: 0;
}
*/
.main-Kv-wrap {
    width: 100%;
    height:700px;
}

#slide {
    margin:0 auto;
    position:relative;
    }

    #slide img {
    position:absolute;
    left:0;
    top:0;
    
    }

/*-----------------------------------
メインイメージEND
-----------------------------------*/

/*-----------------------------------
About START
-----------------------------------*/
.about-mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
}
.about-text {
    background-image: url(../../assets/images/zebrawood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
    position: relative;
}

.about-subtitle {
    padding: 50px 0 0 0;

}

.about-sentence {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    margin: auto;
    line-height: 3;
    font-weight: bold;
}

/*-----------------------------------
About END
-----------------------------------*/


/*-----------------------------------
コンセプトSTART
-----------------------------------*/
.concept-inner {
    max-width: 1080px;
    margin: auto;
    padding-bottom: 120px 0 0 0 ;
}

.concept-img {
    width: calc(50% -40px
    );
}

.concept-img > img {
   width: 500px;
    height: 630px;
    object-fit: cover;
}

.concept-text {
    width: calc(50% -40px);
    height: 630px;
    overflow-y: auto;
}

.concept-cat {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.concept-sentence {
    width: 500px;
}
/*-----------------------------------
コンセプトEND
-----------------------------------*/

/*-----------------------------------
ショップSTART
-----------------------------------*/
.shop-inner {
    width: 1080px;
    padding: 0;
    margin: auto;
}

.shop-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.shop {
    width: calc((100% / 3) - 16px);
    padding-right: 16px;
    margin-bottom: 60px;
}

.shop-text > p {
    text-align: center;
}

.shop:nth-child(n+4) {
    margin-bottom: 0;
}

.shop-name {
    font-weight: bold;
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 16px;
}

.shop-img {
    margin-bottom: 16px;
    border: 2px solid; 
}

.shop-img > img {
    display: inline-block;
    width: 100%;
    height: 600px;
    padding: 4px;
    object-fit: cover;
}

.shop:nth-child(3n) {
    padding-right: 0;
}

/*-----------------------------------
ショップEND
-----------------------------------*/

/*-----------------------------------
メンバーSTART
-----------------------------------*/
.member-inner {
    width: 900px;
    margin: auto;
}

.member-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.member {
    margin-bottom: 60px;
}

.member-img > img {
    border: 5px solid orange;
    border-radius: 50%;
    display: inline-block;
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.member-profile > p {
    text-align: center;
    line-height: 2;
}

/*-----------------------------------
メンバーEND
-----------------------------------*/

/*-----------------------------------
FAQ START
-----------------------------------*/
.faq-list-cat {
    width: 900px;
    margin: auto;
}
.faq-list-item {
    margin:10px;
    border-bottom:1px solid #ccc;
    position:relative;
    cursor:pointer;
    text-align: left;
  }
  .question {
      font-size: 0.8rem;
  } 
  .faq-list-item > span {
    font-weight: bold;
    position:absolute;
    top:0;
    right:5px;
    color:rgb(10, 10, 10);
  }
  
  .answer {
    padding: 5px 0px;
    margin-bottom: 15px;
    display: none;
  }

/*-----------------------------------
FAQ END
-----------------------------------*/

/*-----------------------------------
コンタクトSTART
-----------------------------------*/
.contact-cat {
    max-width: 1080px;
    margin: auto;
}

.contact-item {
    margin-bottom: 40px;
}

.contact > dt {
    margin-bottom: 8px;
}

.contact-item > dd > input {
    display: block;
    height: 50px;
    padding: 12px;
    border: 1px solid #eeeeee;
    width: 100%;
    font-size: 16px;
    line-height: 1.4;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
}

.contact-item > dd > textarea {
    display: block;
    padding: 24px;
    border: 1px solid #eeeeee;
    width: 100%;
    font-size: 16px;
    line-height: 1.4;
    color: #555;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    background-image: none;
    border-radius: 4px;
    height: auto;
}

.contact-btn {
    display: block;
    cursor: pointer;
    background-color: #fff;
    color: #555;
    border: 1px solid #cdcdcd;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    font-size: 18px;
    padding: 15px 40px;
    margin: 108px auto 100px;
    width: 300px;
    height: 60px;
    border-radius: 3px;
}

.contact-btn:hover {
    color: #fff;
    background-color: #555;
}
/*-----------------------------------
コンタクトEND
-----------------------------------*/



/*-----------------------------------
フッターSTART
-----------------------------------*/
.footer {
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 400px;
}

.footer-inner {
    width: 1080px;
    margin: auto;
}


.company-summary {
    color: rgba(255, 255, 255);
}

.company-info {
    color: rgba(255, 255, 255);
    font-size: 0.8rem;
    text-align: center;
    line-height: 2.5;
}

.footer p {
    color: rgba(255, 255, 255);
    text-align: center;
}


/*-----------------------------------
フッターEND
-----------------------------------*/
/*
@media screen and(max-width:768px) {
    html {
        font-size: 16px;
    }

    /*ヘッダー
    .header-inner {
        padding: 10px;
    }
    .header-logo > a {
        font-size: 1.2rem;
    }

    /*ハンバーガーメニュー*/
    

    /* メインイメージ 
    .mainKv {
        height: 100vh;
        background-position: center right -200px;
    }
    .mainKv-title {
        width: 100%;
        text-align: center;
    }
    .mainKv-title h1 {
        font-size: 2.6rem;
    }
} 